<section class="sm: grid-cols-[1rem_auto_1rem] grid grid-cols-[1fr_960px_1fr]">
    <section
        class="grid col-start-2 col-end-3 grid-cols-12 pt-2 pb-4 grid-rows-[50px_300px]"
    >
        <slot />
    </section>
</section>
