---
import H1 from "../components/h1.astro";
import P from "../components/p.astro";
const dataHero = {
    Headers: "Dise침o y Programaci칩n",
    copy: "Explora el mundo digital con nuestro blog sobre Dise침o y Programaci칩n. Ofrecemos recursos, consejos y soluciones para mejorar tus habilidades y alcanzar tus metas en este campo.",
};
---

<section
    class="col-span-12 flex flex-col justify-center items-center text-center gap-4"
>
    <H1>{dataHero.Headers}</H1>
    <div class="max-w-2xl grid grid-start-2 grid-end-10">
        <P>{dataHero.copy}</P>
    </div>
</section>
