---
const nav = [
    {
        name: "Home",
        path: "/web_blog_contact/",
    },
    {
        name: "Contact",
        path: "/web_blog_contact/contact/",
    },
];
---

<nav class="grid col-span-12 items-center">
    <a href="/web_blog_contact/" class="grid col-start-1 col-end-3">
        <p>Pixel<span class="text-gray-900 font-bold">Perfect</span></p></a
    >
    <ul class="flex col-start-11 col-end-12 justify-between">
        {
            nav.map((item) => (
                <li>
                    <a class="hover:text-gray-900 " href={item.path}>
                        {item.name}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>
